:root{
    --vermelho:#E50914;
    --preta:#141414;

    --white: rgba(238, 238, 238, 1);
    --whitetransp: rgba(238, 238, 238, 0.95);
    --redtransp: rgba(229, 9, 20, 0.1);
}

*{
    margin: 0;
    padding: 0;
    /* ninguem pode ultrapassar a borda da caixa */
    box-sizing: border-box;
}

/*elementos base*/
body{
    background: var(--preta);
   font-family: 'Arial', Times, serif;
   color:white;
}

header .container{
    /* isso fazer nos utilizarmos uma coisa chamada FlexBox, é uma maneira de vc alinhar os elementos em tela, toda vez que 
    vc coloca o display tipo flex, ele tem a tendencia de jogar tudo pra linha(flex-direction:row) */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size:40px;
}

header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right: 10px;
}

header nav a:hover{
    color:#fff;
}

/*filme principal*/
.filme-principal{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50) 100%), url('../img/capa-house.jpg');

    height:400px;
    /* //cover faz com que a imagem ocupe toda a area de cobertura da caixa. */
    background-size:cover;

    /* //Display Flex joga sempre os elementos no padrão linha */
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .6s ease all;
}

.botao:hover{
    background-color:white;
    color:black;
}

/* //para dar um espaçmento no icone do botão */
.botao i{
    margin-right: 8px;
}

/* //CLasses Wrappers (envelopar), muito utilizadas no frontEnd, são os containers */

.container{
    margin-left: 30px;
}

/* //limitacao de largura de 70%, ele faz que quando a tela ficar minimizada, ela tenha uma definição de largura de no maximo 60% */
.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.carrosel-filmes{
    margin-top:5px;
}

footer {
    height: 80px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    margin: auto;
  }
  
  footer a {
    color: var(--white);
    text-decoration: underline;
  }
  
  footer a:hover {
    color: var(--red);
  }